body {
    background-image: url(img/back.png);
}

.kotak {
    width: 600px;
    margin: 50px auto 50px auto;
    border: none;
    padding: 50px;
    border-radius: 25px;
    background-image: url(img/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 15px 15px 30px 0px white;
}

.heading{
    width: 600px;
    margin: 0 auto;
    background: -webkit-linear-gradient(right, #d9c2b8, #736864);
    border-radius: 20px;
    box-shadow: 10px 10px 30px white;
}

h1, .footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer{
    background-color: #333;
    color: white;
    padding: 5px;
}